table {
    border-style: solid;
    border-color: black;
    border-width: 0.5rem;
}
#add-task {
    margin-right: 3rem; 
    margin-bottom: 1rem;
    border-style: solid;
    padding: 0.3rem;
}
#add-btn {
    margin-bottom: 1rem;
}
h1 {
    text-align: center;
}
#update-message{
    text-align: center;
    font-weight: bold;
    border-style: solid;
}