h1 {
    text-align: center;
}

nav {
    background-color: black;

}
a {
    margin-left: 4rem;
}
.container {
    align-content: center;
    text-align: center;
}
#search-type-dropdown {
    margin-top: 7px;
    margin-bottom: 7px;
    padding-top: 5px;
}
#category-dropdown {
    margin-top: 1rem;
}
table {
    border-style: solid;
    margin-top: 1.5rem;
}
#main-section {
    background-color: lightslategray;
    padding-bottom: 20rem;
}